<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mx-8">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding class="ml-6">
    <button mat-icon-button disabled></button>
    <mat-checkbox color="primary" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node)">
      {{node?.item?.clasdesc || node?.item?.clvadesc}}
    </mat-checkbox>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox color="primary" [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
      (change)="todoItemSelectionToggle(node)">
      {{node?.item?.clasdesc || node?.item?.clvadesc}}
    </mat-checkbox>
  </mat-tree-node>
</mat-tree>
