<section class="bg-white w-full rounded-lg h-full">
    <header class="flex justify-between items-center p-4">
        <article>
            <p class="text-gps-gray-black2 font-semibold mb-0">Usuarios creados</p>
            <span>Listado</span>
        </article>
        <article>
            <mat-icon>add_circle</mat-icon>
        </article>
    </header>
    <section class="pb-3">
        <table class="w-full">
            <tr>
                <th>ID</th>
                <th>Nombre usuario</th>
                <th>Vehiculos asignados</th>
                <th>Roles</th>
            </tr>
            <tr class="text-center">
                <td>04762</td>
                <td>Moises</td>
                <td>20</td>
                <td>Administrador</td>
            </tr>
            <tr class="text-center">
                <td>04762</td>
                <td>Peter</td>
                <td>20</td>
                <td>Administrador</td>
            </tr>
            <tr class="text-center">
                <td>04762</td>
                <td>Francisco</td>
                <td>20</td>
                <td>User</td>
            </tr>
            <tr class="text-center">p
                <td>04762</td>
                <td>Javier</td>
                <td>20</td>
                <td>User</td>
            </tr>
        </table>
    </section>
</section>