<section>
    <!-- <header class="">
        <p class="text-xl font-semibold">Dashboard</p>
    </header> -->
    <app-map *ngIf="permissions.includes('locations_read')"></app-map>
    <section class="h-2/6 pt-3 flex w-full">
        <section class="flex w-full">
            <!-- <section class="flex w-full gap-4" *ngIf="data$ | async as data">
                <app-statistic title="Dispositivos creados" icon="directions_car" [count]="data?.vehicules" class="w-3/12"></app-statistic>
                <app-statistic title="Usuarios creados" icon="group" [count]="data?.users" class="w-3/12"></app-statistic>
            </section> -->
            <!-- <section class="w-3/5 rounded-lg">
                <app-user-added></app-user-added>
            </section> -->
            <app-table-history class="w-full"></app-table-history>
        </section>
    </section>
</section>