.formFilter {
    position: relative;
    display: grid;
    grid-gap: 10px;
    max-width: 247px;
    margin: 0px auto;

    .dt-vh-close {
        position: absolute;
        top: -15px;
        right: -42px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:#E5E7E9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }

    .title {
        text-align: center;
    }

    .formFTypeReport {
        mat-form-field {
            width: 100%;
        }
    }

    .timeFields {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 20px;
        padding-bottom: 10px;
    
        .timeField {
            position: relative;
            padding-top: 12px;
            padding-bottom: 12px;
    
            .timeFTitle {
                position: absolute;
                top: -10px;
                left: -10px;
                font-size: 0.80rem;
            }
        }
    }

    .formFTypeReport {
        height: 63px;
    }

    .formFBtns {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50px;
    }
}