<div *ngIf="formFilter" class="formFilter">
    <div class="dt-vh-close" (click)="closeToggle()">
        <mat-icon>close</mat-icon>
    </div>
    
    <div class="title">
        <h2>Descarga de reportes</h2>
    </div>
    <div class="timeFields">
        <mat-form-field appearance="fill" class="w-full" *ngIf="noHiddenDates">
            <mat-label>Rango de fecha</mat-label>
            <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
              <input matStartDate [(ngModel)]="formFilter.startDateOnly" placeholder="Fecha inicial" (click)="picker.open()" autocomplete="off">
              <input matEndDate [(ngModel)]="formFilter.endDateOnly" placeholder="Fecha final" (click)="picker.open()" autocomplete="off">
            </mat-date-range-input>
            <mat-hint>{{formFilter.startDateOnly | date}} - {{formFilter.endDateOnly | date}}</mat-hint>
            <mat-datepicker-toggle matSuffix #dpClick1 [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div *ngIf="noHiddenTimeReg">
            <div class="timeField">
                <label class="timeFTitle">Tiempo inicial</label>
                <ngx-timepicker-field [(ngModel)]="formFilter.startTime" [controlOnly]="true"></ngx-timepicker-field>
            </div>
            <div class="timeField">
                <label class="timeFTitle">Tiempo final</label>
                <ngx-timepicker-field [(ngModel)]="formFilter.endTime" [controlOnly]="true"></ngx-timepicker-field>
            </div>
        </div>
    </div>
    <div class="formFTypeReport">
        <mat-form-field appearance="fill" *ngIf="typeCsvReports">
            <mat-label>Tipo de reporte</mat-label>
            <mat-select (selectionChange)="selectTypeReport($event.value)" [(ngModel)]="formFilter.typeReport">
              <mat-option *ngFor="let tCsvReport of typeCsvReports" [value]="tCsvReport.tCsvRrtId">
                {{tCsvReport.tCsvRrtText}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="formFToggles" *ngIf="noHiddenSlideToggle">
        <mat-slide-toggle
            class="mr-2"
            [(ngModel)]="formFilter.isLocation"
            [color]="color">
            POSICIONES
        </mat-slide-toggle>
        <mat-slide-toggle
            [(ngModel)]="formFilter.isEvent"
            [color]="color">
            EVENTOS
        </mat-slide-toggle>
    </div>
    <div class="formFBtns">
        <app-button 
            (click)="filterDevsCsv()"
            *ngIf="!getBtnLoadActive('filterDevsCsv')"
            text="Descargar CSV" type="green" 
            width="190px" icon="cloud_download">
        </app-button>
        <app-load-all *ngIf="getBtnLoadActive('filterDevsCsv')"></app-load-all>
    </div>
</div>
