.formFilter {
    position: relative;
    display: grid;
    grid-gap: 10px;

    .dt-vh-close {
        position: absolute;
        top: -15px;
        right: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:#E5E7E9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }

    .title {
        text-align: center;
    }

    .formFTypeReport {
        mat-form-field {
            width: 100%;
        }
    }

    .formFRangeDate {
        height: 80px;
    }

    .formFTypeReport {
        height: 63px;
    }

    .formFBtns {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50px;
    }
}