.pagiCsv {
  position: relative;
  
  .csv-download {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.table-history-section {
    width: 1000px;
    height: 245px;
    overflow: hidden;
    overflow-y: auto;

    .table-history {
      width: 100%;
      
      .mat-row {
        height: auto;
      }
        
      .mat-cell {
        padding: 10px;
      }
    }
}