<section class="table-history">
    <table mat-table [dataSource]="dataSource" class="w-full">
        <!-- Dloclati Column -->
        <ng-container matColumnDef="dloclati" aling="center">
            <th mat-header-cell *matHeaderCellDef>LATITUD</th>
            <td mat-cell *matCellDef="let element">{{element.delolati}}</td>
        </ng-container>
    
        <!-- Dloclong Column -->
        <ng-container matColumnDef="dloclong" aling="center">
            <th mat-header-cell *matHeaderCellDef>LONGITUD</th>
            <td mat-cell *matCellDef="let element">{{element.delolong}}</td>
        </ng-container>
    
        <!-- Dspeed Column -->
        <ng-container matColumnDef="dspeed" aling="center">
            <th mat-header-cell *matHeaderCellDef>VELOCIDAD</th>
            <td mat-cell *matCellDef="let element">{{element.delospee}} KM/H</td>
        </ng-container>
    
        <!-- Ddelotime Column -->
        <ng-container matColumnDef="delotime" aling="center">
            <th mat-header-cell *matHeaderCellDef>FECHA GPS</th>
            <td mat-cell *matCellDef="let element">{{ formatTimestamp(element.delotime) | date:'medium' }}</td>
        </ng-container>
    
        <!-- Delofesi Column -->
        <ng-container matColumnDef="delofesi" aling="center">
            <th mat-header-cell *matHeaderCellDef>FECHA SISTEMA</th>
            <td mat-cell *matCellDef="let element">{{element.delofesi | date:'medium'}}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="4"></mat-paginator>
</section>
