.main-content {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
    overflow: hidden;

    &.mobile {
        grid-template-columns: 58px auto;
    }

    .content {
        padding: 20px;
        padding-top: 10px;
        background-color:#E5E7E9;
    }
}