<section class="flex justify-between gap-1 bg-white shadow-md rounded-lg h-full">
    <section class="h-full w-full">
        <mat-drawer-container class="h-full w-full" autosize>
            <mat-drawer #drawer mode="push">
                <aside class="aside-map-left">
                    <section class="classifirs-content pb-2">
                        <header class="flex justify-center items-center p-2">
                            <b>Clasificadores</b>
                        </header>
                        <hr class="pt-2">
                        <app-tree-classifiers (sendClassifiers)="saveClassifiers($event)"></app-tree-classifiers>
                    </section>
                    
                    <section class="table-devices">
                        <header class="flex justify-center items-center p-2">
                            <b>Dispositivos</b>
                        </header>
                        <hr>
                        <div class="flex justify-center w-full p-2">
                            <input type="text" placeholder="Buscar por imei, placa"
                            (keyup)="applyFilter($event)"
                            class="w-3/5 p-1 border-1 placeholder-pl-4 border-gps-blue rounded-lg">
                        </div>
                        <div class="table-devices-regis">
                            <table mat-table [dataSource]="dataSource" class="w-full">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                  <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                  [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                  </th>
                                  <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)"
                                                  [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                  </td>
                                </ng-container>
                              
                                <!-- Imei Column -->
                                <ng-container matColumnDef="imei">
                                  <th mat-header-cell *matHeaderCellDef>IMEI</th>
                                  <td mat-cell *matCellDef="let element">{{element.imei}}</td>
                                </ng-container>
                              
                                <!-- Plate Column -->
                                <ng-container matColumnDef="plate">
                                  <th mat-header-cell *matHeaderCellDef>PLACA</th>
                                  <td mat-cell *matCellDef="let element">{{element.plate}}</td>
                                </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="selection.toggle(row)">
                                </tr>
                              </table>
                        </div>
                    </section>
                    <section class="form-search">
                        <header class="flex justify-center items-center p-2">
                            <b>Rango de fecha</b>
                        </header>
                        <hr>
                        <div class="p-2">
                            <mat-form-field appearance="fill">
                                <mat-label>Ingresa un rango</mat-label>
                                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                  <input matStartDate formControlName="start" placeholder="Fecha inicial" (click)="dateTClick()">
                                  <input matEndDate formControlName="end" placeholder="Fecha final" (click)="dateTClick()">
                                </mat-date-range-input>
                                <mat-hint>{{range.value.start | date}} - {{range.value.end | date}}</mat-hint>
                                <mat-datepicker-toggle matSuffix #dpClick1 [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </section>
                    <div class="bts-bottom">
                        <app-button (click)="filterDevices()" text="Filtrar" type="blue" width="160px" icon="filter_list"></app-button>
                        <app-button (click)="selectedDevices()" text="Excel" type="green" width="110px" icon="cloud_download"></app-button>
                    </div>
                </aside>
            </mat-drawer>

            <mat-drawer-content>
                <app-button id="filters" (click)="drawer.toggle()" text="Filtros" type="blue" width="100px" icon="filter_list"></app-button>
                <div id="map" class="h-full w-full"></div>
            </mat-drawer-content>

            <mat-drawer #detailsVehicule class="p-3" mode="side" position="end">
                <article *ngIf="deviceSelected$ | async as device"
                    class="flex flex-col gap-2 items-center justify-between pb-4 text-gps-gray-black2">
                    <header class="flex justify-center items-center pt-8 ">
                        <p>
                            <b>Detalle vehículo</b>
                            <b (click)="detailsVehicule.toggle()">x</b>
                        </p>
                    </header>
                    <div class="flex flex-col">
                        <b>Vehículo</b>
                        <small>{{device.devimark}}</small>
                    </div>
                    <div>
                        <b>IMEI</b>
                        <p>{{device.deviimei}}</p>
                    </div>
                    <div>
                        <b>Coordenadas</b>
                        <p>{{device.deviloca[0].delolati}}</p>
                        <p>{{device.deviloca[0].delolong}}</p>
                    </div>
                    <div>
                        <b>Alertas</b>
                        <p>No presenta</p>
                    </div>
                </article>
            </mat-drawer>
        </mat-drawer-container>
    </section>
</section>