#filters {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.7em 1.3em;
}

.main-map {
    background-color:#FFF;
    height: 100%;

    .mat-drw-content {
        height: 100%;

        .clear-filter {
            cursor: pointer;
        }
        
        .btn-filter {
            display: flex;
            justify-content: center;
        }
        
        .config-commands {
            cursor: pointer;
        }
        
        .aside-map-left {
            position: relative;
            height: 100%;
            display: grid;
            grid-template-rows: calc(100% - 50px) 50px;
            overflow: hidden;

            .map-left-division {
                display: flex;
                width: auto;
                z-index: 1;
                
                .classifirs-content {
                    overflow: hidden;
                    height: 100%;
            
                    .list-tree-regis {
                        height: calc(100% - 40px);
                        min-height: auto;
                        overflow-y: auto;
                        
                        &::-webkit-scrollbar {/* WebKit (Chrome, Safari, Opera) */
                            width: 5px; 
                            height: 2px;
                            border-radius: 4px;
                            background-color:#D7DBDD;
                        }
                          
                        &:-moz-scrollbar {/* Firefox */
                            width: 5px; 
                            height: 5px;
                            border-radius: 4px;
                            background-color:#D7DBDD;
                        }
                        
                        &::-ms-scrollbar {/* Internet Explorer, Edge */
                            width: 5px; 
                            height: 5px;
                            border-radius: 4px;
                            background-color:#D7DBDD;
                        }
                    }
                }
            
                .table-devices,
                .form-search {
                    border-left: 1px solid #D0D3D4;
                }
            
                .table-devices {
                    position: relative;
                    display: grid;
                    grid-template-rows: 36px 49px auto;
                    max-width: 330px;
                    height: 100%;
                    border-left: 1px solid #D0D3D4;
                    overflow: hidden;
            
                    .table-devices-regis {
                        width: 100%;
                        min-width: 300px;
                        overflow-y: auto;
              
                        &::-webkit-scrollbar {/* WebKit (Chrome, Safari, Opera) */
                            width: 5px; 
                            height: 2px;
                            border-radius: 4px;
                            background-color:#D7DBDD;
                        }
                          
                        &:-moz-scrollbar {/* Firefox */
                            width: 5px; 
                            height: 5px;
                            border-radius: 4px;
                            background-color:#D7DBDD;
                        }
                        
                        &::-ms-scrollbar {/* Internet Explorer, Edge */
                            width: 5px; 
                            height: 5px;
                            border-radius: 4px;
                            background-color:#D7DBDD;
                        }
                    }
                }
            }

            .bts-bottom {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-gap: 10px;
                width: 100%;
                min-height: 50px;
                max-height: 50px;
                background-color:#FFF;
                z-index: 2;
            }
        }
        
        .details-vehicle {
            $E5E7E9: #E5E7E9;
            display: grid;
            grid-template-rows: 70px calc(100% - (70px + 53px)) 45px;
            height: 100%;
            overflow: hidden;
        
            .dt-vh-close {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color:$E5E7E9;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
            }

            .dt-vh-info {
                width: 300px;
                min-height: auto;
                overflow: hidden;
                overflow-y: auto;

                &::-webkit-scrollbar {/* WebKit (Chrome, Safari, Opera) */
                    width: 5px; 
                    height: 2px;
                    border-radius: 4px;
                    background-color:#D7DBDD;
                }
                  
                &:-moz-scrollbar {/* Firefox */
                    width: 5px; 
                    height: 5px;
                    border-radius: 4px;
                    background-color:#D7DBDD;
                }
                
                &::-ms-scrollbar {/* Internet Explorer, Edge */
                    width: 5px; 
                    height: 5px;
                    border-radius: 4px;
                    background-color:#D7DBDD;
                }
        
                .dt-vh-content {
                    .dt-vh-citem {
                        display: grid;
                        grid-template-columns: 15% 85%;
                        padding: 0.70em;
                        border-bottom: 1px solid #E5E7Eb;
        
                        .icon,
                        .value {
                            display: flex;
                            align-items: center;
                        }
        
                        .icon {
                            position: relative;
                            justify-content: center;
        
                            mat-icon {
                                position: relative;
                                top: -2px;
                                transform: scale(1.1);
                            }
                        }
                        .value {
                            position: relative;
                            font-size: 1.2em;
        
                            .sup-title {
                                position: absolute;
                                top: -7px;
                                left: 0px;
                                font-size: 0.75rem;
                                font-weight: bold;
                            }
        
                            .sub-title {
                                padding-top: 10px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        
            .btn-history {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-gap: 10px;
        
                .clear-history {
                    cursor: pointer;
                }
            }
        }

        .view-map {
            position: relative;
            width: 100%;
            height: 100%;

            .op-cls-vlist {
                position: absolute;
                left: 50%;
                bottom: 0px;
                width: 40px;
                height: 40px;
                background-color: #FFF;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: 5px;
                cursor: pointer;
            }
        }
    }
}