<section class="shadow-md main-map">
    <mat-drawer-container class="mat-drw-content" autosize>
        <mat-drawer #drawerLeft mode="side">
            <aside class="aside-map-left">
                <div class="map-left-division">
                    <section class="classifirs-content pb-2">
                        <header class="flex justify-center items-center p-2">
                            <b>Clasificadores</b>
                        </header>
                        <hr class="pt-2">
                        <div class="list-tree-regis">
                            <app-tree-classifiers (sendClassifiers)="saveClassifiers($event)"></app-tree-classifiers>
                        </div>
                    </section>
                    
                    <section class="table-devices">
                        <header class="flex justify-center items-center p-2">
                            <b>Dispositivos</b>
                        </header>
                        <div>
                            <hr>
                            <div class="flex justify-center w-full p-2">
                                <input type="text" placeholder="Buscar por imei, placa"
                                (keyup)="applyFilter($event)"
                                class="p-1 ml-3 mr-3 w-full border-1 placeholder-pl-4 border-gps-blue rounded-lg">
                            </div>
                        </div>
                        
                        <div class="table-devices-regis">
                            <table mat-table [dataSource]="dataSDevices" class="w-full">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                  <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox 
                                        (change)="toggleAllRows($event.checked)"
                                        [checked]="isAllSelected()"
                                        [indeterminate]="isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                  </th>
                                  <td mat-cell *matCellDef="let row">
                                    <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="toggleCurrentRow(row)"
                                    [checked]="row.check"
                                    [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                  </td>
                                </ng-container>
                              
                                <!-- Imei Column -->
                                <ng-container matColumnDef="imei">
                                  <th mat-header-cell *matHeaderCellDef>IMEI</th>
                                  <td mat-cell *matCellDef="let element">{{element.deviimei}}</td>
                                </ng-container>
                              
                                <!-- Plate Column -->
                                <ng-container matColumnDef="plate">
                                  <th mat-header-cell *matHeaderCellDef>PLACA</th>
                                  <td mat-cell *matCellDef="let element">{{element.carrlice}}</td>
                                </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="toggleCurrentRow(row)">
                                </tr>
                              </table>
                        </div>
                    </section>
                </div>

                <div class="bts-bottom">
                    <app-button 
                        (click)="filterDevices()" text="Filtrar" type="blue" 
                        width="160px" icon="filter_list" 
                        [disabled]="validDisabledArray(checksDevices)">
                    </app-button>
                    <app-button 
                        (click)="openDialogCsv()" text="Reportes" type="gray"
                        [disabled]="validDisabledArray(checksDevices)"
                        width="110px" bgColorHex="#707B7C" icon="cloud_download">
                    </app-button>
                </div>
            </aside>
        </mat-drawer>

        <mat-drawer-content>
            <div class="view-map">
                <app-button *ngIf="devicesFound?.length && currentDvId == -1" 
                id="filters" (click)="openFilterDevice()" text="Filtros" type="blue" width="100px" icon="filter_list"></app-button>

                <mat-slide-toggle *ngIf="devicesFound?.length && currentDvId == -1"
                class="change-show-plates" [(ngModel)]="showPlates" (change)="filterDevices()" [disabled]="validDisabledArray(checksDevices)" [color]="color">
                    <span>Mostrar placas</span>
                </mat-slide-toggle>

                <div class="aside-mark-left" (click)="openFilterDevice()" [style.visibility]="drawerLeft.opened ? 'visible':'hidden'"></div>
                <div id="map" class="h-full w-full"></div>

                <div class="op-cls-vlist" *ngIf="hiddenIconLHisto">
                    <div class="circle" (click)="setHiddenListHisto()">
                        <mat-icon>view_list</mat-icon>
                    </div>
                    <div class="circle" (click)="setSizeControl()">
                        <mat-icon class="icon" *ngIf="sizeLevel === 1">hdr_weak</mat-icon>
                        <mat-icon class="icon" *ngIf="sizeLevel === 2">hdr_strong</mat-icon>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
        
        <mat-drawer #detailsVehicule mode="side" position="end">
            <aside class="details-vehicle mt-2 ml-2 mr-2" *ngIf="deviceSelected$ | async as device">
                <div class="dt-vh-header">
                    <div class="flex justify-between">
                        <mat-icon
                            class="config-commands"
                            (click)="openDialogConfigCommans(device?.devinuid)"
                        >settings</mat-icon>
                        <div class="dt-vh-close" (click)="closeToggle(device?.devinuid)">
                            <mat-icon>close</mat-icon>
                        </div>
                    </div>
                    <header class="flex justify-center">
                        <h2 class="h2">Detalle Vehículo</h2>
                    </header>
                </div>
                
                <article class="dt-vh-info">
                    <div class="dt-vh-content border">
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>money</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Placa:</b>
                                <small class="sub-title" *ngIf="device.carrdevi?.carrier">{{device.carrdevi.carrier.carrlice}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>sim_card</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Imei:</b>
                                <small class="sub-title">{{device.deviimei}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>settings_remote</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Estado:</b>
                                <small class="sub-title">{{device.deviestacomma ? 'Encendido':'Apagado'}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>location_on</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Localización (Latitud - Longitud):</b>
                                <small class="pr-1 sub-title">{{device.deviloca[0].delolati}},</small>
                                <small class="sub-title">{{device.deviloca[0].delolong}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>map</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Dirección:</b>
                                <small class="sub-title">{{ device.deviloca[0].delodire }}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>my_location</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Barrio:</b>
                                <small class="sub-title">{{ device.deviloca[0].delobarri }}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>trip_origin</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Velocidad:</b>
                                <small class="sub-title">{{device.deviloca[0].delospee}} KM/H</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>show_chart</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Kilometraje hoy:</b>
                                <small class="sub-title">{{device?.today}} KM</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>swap_calls</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Kilometraje anterior:</b>
                                <small class="sub-title">{{device?.kmdevi[0]?.kmcapt}} KM / {{device?.kmdevi[0]?.kmdiacapt}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>update</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Ultima posicion Fecha GPS:</b>
                                <small class="sub-title">{{ formatTimestamp(device.deviloca[0].delotime) | date:'medium' }}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>date_range</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Ultima posicion Fecha sistema:</b>
                                <small class="sub-title">{{device.deviloca[0].delofesi | date:'medium' }}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>fingerprint</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Clasificadores:</b>
                                <small class="sub-title">{{listClassifiers(device?.clasdevi)}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>settings_input_antenna</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Marca:</b>
                                <small class="sub-title">{{device.devimark}}</small>
                            </div>
                        </div>
                        <div class="dt-vh-citem">
                            <div class="icon p-1">
                                <mat-icon>phone</mat-icon>
                            </div>
                            <div class="value p-1 pl-2">
                                <b class="sup-title">Celular:</b>
                                <small class="sub-title">{{device.deviphon}}</small>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="btn-history">
                    <app-button 
                        (click)="openDialogHistory(device.devinuid)"
                        text="Historial" type="white" 
                        width="130px" icon="access_time">
                    </app-button>
                    <mat-icon 
                        (click)="clearMapHistory(device.devinuid)"
                        *ngIf="validBtnDelHLoc()"
                        class="clear-history"
                    >delete_outline</mat-icon>
                </div>
            </aside>
        </mat-drawer>
    </mat-drawer-container>
</section>