<section>
    <header class="pb-4">
        <p class="text-xl font-semibold">Dashboard</p>
        <b class="text-gps-gray-black2">Estadísticas generales</b>
    </header>
    <section class="flex gap-4">
        <app-statistic title="Entidades Registradas" icon="group" count="40" class="w-1/3"></app-statistic>
        <app-statistic title="Usuarios Registrados" icon="work" count="500" class="w-1/3"></app-statistic>
        <app-statistic title="Otras Estadisticas" icon="pie_chart" count="00" class="w-1/3"></app-statistic>
    </section>
</section>
