
.timeFields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding-bottom: 30px;

    .timeField {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;

        .timeFTitle {
            position: absolute;
            top: -10px;
            left: -10px;
            font-size: 0.80rem;
        }
    }
}

.items-right {
    display: flex;
    justify-content: flex-end;

    .dt-vh-close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color:#E5E7E9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.slideToggle {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    grid-gap: 10px;
    padding-bottom: 20px;
    max-width: 220px;
    margin: 0px auto;
}
