<div class="items-right" (click)="dialogClose()">
  <div class="dt-vh-close">
    <mat-icon>close</mat-icon>
  </div>
</div>

<div *ngIf="formDates">
  <header class="flex justify-center">
    <h2 class="h2">Seleccione un rango:</h2>
  </header>
  
  <div class="timeFields">
    <mat-form-field appearance="fill">
      <mat-label>Rango de fecha</mat-label>
      <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
        <input matStartDate [(ngModel)]="formDates.startDate" placeholder="Fecha inicial" (click)="picker.open()" autocomplete="off" >
        <input matEndDate [(ngModel)]="formDates.endDate" placeholder="Fecha final" (click)="picker.open()" autocomplete="off">
      </mat-date-range-input>
      <mat-hint>{{formDates.startDate | date}} - {{formDates.endDate | date}}</mat-hint>
      <mat-datepicker-toggle matSuffix #dpClick1 [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div class="timeField">
      <label class="timeFTitle">Tiempo inicial</label>
      <ngx-timepicker-field [(ngModel)]="formDates.startTime" [controlOnly]="true"></ngx-timepicker-field>
    </div>
    <div class="timeField">
      <label class="timeFTitle">Tiempo final</label>
      <ngx-timepicker-field [(ngModel)]="formDates.endTime" [controlOnly]="true"></ngx-timepicker-field>
    </div>
  </div>

  <div class="slideToggle">
    <mat-slide-toggle
      [(ngModel)]="slideToggle.isLocation"
      [color]="color">
        POSICIONES
    </mat-slide-toggle>
    <mat-slide-toggle
      [(ngModel)]="slideToggle.isEvent"
      [color]="color">
        EVENTOS
    </mat-slide-toggle>
  </div>
  
  <div class="flex justify-center">
    <app-button 
      (click)="searchHistoryDv()"
      *ngIf="!getBtnLoadActive('searchHistoryDv')"
      text="Buscar" type="blue" 
      width="160px" icon="search">
    </app-button>
    <app-load-all *ngIf="getBtnLoadActive('searchHistoryDv')"></app-load-all>
  </div>
</div>


