<mat-form-field appearance="fill" class="w-full">
    <mat-label>Rango de fecha</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="startDateOnly" placeholder="Fecha inicial" (click)="picker.open()" autocomplete="off">
      <input matEndDate formControlName="endDateOnly" placeholder="Fecha final" (click)="picker.open()" autocomplete="off">
    </mat-date-range-input>
    <!-- <mat-hint>{{formFilter.value.startDateOnly | date}} - {{formFilter.value.endDateOnly | date}}</mat-hint> -->
    <mat-datepicker-toggle matSuffix #dpClick1 [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<div class="flex justify-center">
  <app-button 
    text="Buscar" type="blue" 
    width="160px" icon="search">
  </app-button>
</div>

