.timeFields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;

    .timeField {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;

        .timeFTitle {
            position: absolute;
            top: -10px;
            left: -10px;
            font-size: 0.80rem;
        }
    }
}