/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif!important; }

.snack_error { 
    background-color: #CA0000;
}
.snack_success {
    background-color: #6FC600;
}